{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "ecmaVersion": 12,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "sourceType": "module",
    "extraFileExtensions": [".vue"]
  },
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:vue/vue3-strongly-recommended", "prettier"],
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "rules": {
    "import/no-named-as-defauilt": 0,
    "vue/first-attribute-linebreak": 0,
    "vue/multi-word-component-names": 0,
    "@typescript-eslint/ban-ts-comment": 1,
    "@typescript-eslint/array-type": ["error", { "default": "generic" }],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/no-explicit-any": ["error"],
    "@typescript-eslint/no-unsafe-assignment": ["error"],
    "@typescript-eslint/no-unsafe-return": ["error"],
    "@typescript-eslint/no-var-requires": ["error"],
    "@typescript-eslint/no-use-before-define": ["error", "nofunc"],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        },
        "overrides": {
          "interface": {
            "multiline": {
              "delimiter": "semi",
              "requireLast": true
            }
          }
        }
      }
    ],
    "no-duplicate-imports": ["error"],
    "eqeqeq": ["error"],
    "no-eq-null": ["error"],
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-shadow": ["off"],
    "@typescript-eslint/no-shadow": ["error"],
    "simple-import-sort/exports": ["error"],
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\w"],
          ["^\\u0000"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"]
        ]
      }
    ]
  },
  "settings": {},
  "ignorePatterns": ["build", "node_modules", "**/*.js"]
}
